<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

<title>History</title>
<link rel="stylesheet" type="text/css" href="/Ubenu/css/TableStyles.css"/>	
<link rel="stylesheet" type="text/css" href="/Ubenu/css/HorizontalMenuStyles.css"/>	

</head>
<body>
<ul>

   <li th:hidden="${!session.role.equals('admin')}" ><a href="/Ubenu/companies" th:text="#{link.company.label}">Companies</a></li>
   <li th:hidden="${!session.role.equals('admin')}"><a href="/Ubenu/companies/add" th:text="#{link.company.add}">Add Company</a></li>
   <br>
   <li th:hidden="${!session.role.equals('admin')}"><a href="/Ubenu/categories" th:text="#{link.category.label}">Categories</a></li>
   <li th:hidden="${!session.role.equals('admin')}"><a href="/Ubenu/categories/add" th:text="#{link.category.add}">Add Category</a></li>
   <br>
   <li><a href="/Ubenu/drugs" th:text="#{link.drug.label}">Drugs</a></li>
   <li th:hidden="${!session.role.equals('admin')}"><a href="/Ubenu/drugs/add" th:text="#{link.drug.add}">Add Drug</a></li>
   <br>
   <li th:hidden="${!session.role.equals('admin')}"><a href="/Ubenu/users" th:text="#{link.users.label}">Users</a></li>
   <li th:hidden="${!session.role.equals('admin')}"><a href="/Ubenu/loyaltyCards" th:text="#{link.loyalty.label}">Cards</a></li>
   <br>
   <li th:hidden="${!session.role.equals('customer')}"><a href="/Ubenu/shoppingCart" th:text="#{link.cart.label}">Shopping Cart</a></li>
   <br>
   <li><a th:href="@{/users/details?sysId={id}(id=${session.user.sysId})}" th:text="#{link.profile.label}">Profile</a></li>
   <li><a href="/Ubenu/users/login" th:text="#{link.logout.label}">Logout</a></li>
   

</ul>

<form action="/Ubenu/management/index/search" method="get">
	<table>
		
		<tr>
		<th>Start Date:</th>
		<td>
		<input type="date" name="searchDateStart" th:max="${today}">
		</tr>
		
		<tr>
		<th>End Date:</th>
		<td>
		<input type="date" name="searchDateEnd" th:value="${today}" th:max="${today}">
		</tr>
			
		<tr>
		<th>
		<input type="submit" value="Seach">
		</th>
		</tr>	
	</table>
</form>


  <table>
   <caption>
   Orders
   </caption>
   <thead>
   <tr>
    <th>Name</th>
    <th>Company</th>
    <th>Qty</th>
    <th>Price</th>
    <th>Subtotal</th>
   </tr>
  </thead>
  <tbody>
  	<tr th:each="item : ${history}">
		<td>
		<a type="button" th:href="|/Ubenu/drugs/details?sysId=${item.drug.getSysId()}|" th:text="${item.drug.drugName}"></a>
		</td>
		<td th:text="${item.drug.pharmaCompany.companyName}"></td>
		<td th:text="${item.amount}"></td> 
		<td th:text="${item.price}"></td>
		<td th:text="${item.price * item.amount}"></td>
		
  
  	</tr>
  	<tr>
  	<th>Total: </th>
  	<td th:text="${totalPrice}"></td>
  	</tr>
  
  </tbody>
  </table>
</body>
</html>