<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

<title>Cards</title>
<link rel="stylesheet" type="text/css" href="/Ubenu/css/TableStyles.css"/>	
<link rel="stylesheet" type="text/css" href="/Ubenu/css/HorizontalMenuStyles.css"/>	

</head>
<body>
<ul>

   <li th:hidden="${!session.role.equals('admin')}" ><a href="/Ubenu/companies" th:text="#{link.company.label}">Companies</a></li>
   <li th:hidden="${!session.role.equals('admin')}"><a href="/Ubenu/companies/add" th:text="#{link.company.add}">Add Company</a></li>
   <br>
   <li th:hidden="${!session.role.equals('admin')}"><a href="/Ubenu/categories" th:text="#{link.category.label}">Categories</a></li>
   <li th:hidden="${!session.role.equals('admin')}"><a href="/Ubenu/categories/add" th:text="#{link.category.add}">Add Category</a></li>
   <br>
   <li><a href="/Ubenu/drugs" th:text="#{link.drug.label}">Drugs</a></li>
   <li th:hidden="${!session.role.equals('admin')}"><a href="/Ubenu/drugs/add" th:text="#{link.drug.add}">Add Drug</a></li>
   <br>
   <li th:hidden="${!session.role.equals('admin')}"><a href="/Ubenu/users" th:text="#{link.users.label}">Users</a></li>
   <li th:hidden="${!session.role.equals('admin')}"><a href="/Ubenu/loyaltyCards" th:text="#{link.loyalty.label}">Cards</a></li>
   <br>
   <li th:hidden="${!session.role.equals('customer')}"><a href="/Ubenu/shoppingCart" th:text="#{link.cart.label}">Shopping Cart</a></li>
   <br>
   <li><a href="/Ubenu/users/login" th:text="#{link.logout.label}">Logout</a></li>
   

</ul>
  <table>
   <caption>
   Cards
   </caption>
   <thead>
   <tr>
    <th>User</th>
   </tr>
  </thead>
  <tbody>
  	<tr th:each="card : ${cards}">
  		<td	th:text="${card.user.getUsername()}"></td>
		
		<td>
		<form action="loyaltyCards/approve" method="post">
		<input type="hidden" th:value="${card.user.getSysId()}" name="userId">
		<input type="submit" value="Approve">
		</form></td>	
				<td>
		<form action="loyaltyCards/decline" method="post">
		<input type="hidden" th:value="${card.user.getSysId()}" name="userDId">
		<input type="submit" value="Decline">
		</form></td>
			
  
  	</tr>
  
  </tbody>
  </table>
</body>
</html>