<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

<title>Drugs</title>
<link rel="stylesheet" type="text/css" href="/Ubenu/css/TableStyles.css"/>	
<link rel="stylesheet" type="text/css" href="/Ubenu/css/HorizontalMenuStyles.css"/>	

</head>
<body>
<ul>

   <li th:hidden="${!session.role.equals('admin')}" ><a href="/Ubenu/companies" th:text="#{link.company.label}">Companies</a></li>
   <li th:hidden="${!session.role.equals('admin')}"><a href="/Ubenu/companies/add" th:text="#{link.company.add}">Add Company</a></li>
   <br>
   <li th:hidden="${!session.role.equals('admin')}"><a href="/Ubenu/categories" th:text="#{link.category.label}">Categories</a></li>
   <li th:hidden="${!session.role.equals('admin')}"><a href="/Ubenu/categories/add" th:text="#{link.category.add}">Add Category</a></li>
   <br>
   <li><a href="/Ubenu/drugs" th:text="#{link.drug.label}">Drugs</a></li>
   <li th:hidden="${!session.role.equals('admin')}"><a href="/Ubenu/drugs/add" th:text="#{link.drug.add}">Add Drug</a></li>
   <br>
   <li th:hidden="${!session.role.equals('admin')}"><a href="/Ubenu/users" th:text="#{link.users.label}">Users</a></li>
   <li th:hidden="${!session.role.equals('admin')}"><a href="/Ubenu/loyaltyCards" th:text="#{link.loyalty.label}">Cards</a></li>
   <br>
   <li th:hidden="${!session.role.equals('customer')}"><a href="/Ubenu/shoppingCart" th:text="#{link.cart.label}">Shopping Cart</a></li>
   <br>
   <li><a href="/Ubenu/users/login" th:text="#{link.logout.label}">Logout</a></li>
   

</ul>
  <table>
   <caption>
   Drugs
   </caption>
   <thead>
   <tr>
    <th>Image</th>
    <th>Name</th>
    <th>Rating</th>
    <th>Price</th>
   </tr>
  </thead>
  <tbody>
  	<tr th:each="drug : ${drugs}">
  		<td>
  		<img alt="drug" th:src="${drug.getImagePath}">
  		</td>
		<td>
		<a type="button" th:href="|drugs/details?sysId=${drug.getSysId()}|" th:text="${drug.getDrugName()}"></a>
		</td>
		<td th:text="${drug.getRating()}"></td> 
		<td th:text="${drug.getPrice()}"></td>
		
		<td th:hidden="!${session.role.equals('admin')}">
		<form action="drugs/delete" method="post">
		<input type="hidden" th:value="${drug.getSysId()}" name="sysId">
		<input type="submit" value="Delete">
		</form></td>
		
			
		<td th:hidden="${!session.role.equals('merchant') || drug.isActive()}">
		<form action="drugs/approve" method="post">
		<input type="hidden" th:value="${drug.getSysId()}" name="sysApproveId">
		<input type="submit" value="Approve">
		</form></td>
		
		<td th:if="${session.role.equals('customer')}">
		<form action="drugs/addToCart" method="post">
		<input type="hidden" th:value="${drug.getSysId()}" name="drugCartId">
		<input type="submit" value="Add to Cart">
		</form></td>			
  
  	</tr>
  
  </tbody>
  </table>
</body>
</html>