<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

<title>User</title>
<link rel="stylesheet" type="text/css" href="/Ubenu/css/TableStyles.css"/>	
<link rel="stylesheet" type="text/css" href="/Ubenu/css/HorizontalMenuStyles.css"/>	

</head>
<body>
<ul>

   <li th:hidden="${!session.role.equals('admin')}" ><a href="/Ubenu/companies" th:text="#{link.company.label}">Companies</a></li>
   <li th:hidden="${!session.role.equals('admin')}"><a href="/Ubenu/companies/add" th:text="#{link.company.add}">Add Company</a></li>
   <br>
   <li th:hidden="${!session.role.equals('admin')}"><a href="/Ubenu/categories" th:text="#{link.category.label}">Categories</a></li>
   <li th:hidden="${!session.role.equals('admin')}"><a href="/Ubenu/categories/add" th:text="#{link.category.add}">Add Category</a></li>
   <br>
   <li><a href="/Ubenu/drugs" th:text="#{link.drug.label}">Drugs</a></li>
   <li th:hidden="${!session.role.equals('admin')}"><a href="/Ubenu/drugs/add" th:text="#{link.drug.add}">Add Drug</a></li>
   <br>
   <li th:hidden="${!session.role.equals('admin')}"><a href="/Ubenu/users" th:text="#{link.users.label}">Users</a></li>
   <li th:hidden="${!session.role.equals('admin')}"><a href="/Ubenu/loyaltyCards" th:text="#{link.loyalty.label}">Cards</a></li>
   <br>
   <li th:hidden="${!session.role.equals('customer')}"><a href="/Ubenu/shoppingCart" th:text="#{link.cart.label}">Shopping Cart</a></li>
   <br>
   <li><a th:href="@{/users/details?sysId={id}(id=${session.user.sysId})}" th:text="#{link.profile.label}">Profile</a></li>
   <li><a href="/Ubenu/users/login" th:text="#{link.logout.label}">Logout</a></li>
   

</ul>
  
  <div th:if="${session.role.equals('customer')}">
  <table  th:unless="${session.loyalty==null}">
  <th th:text="#{loyalty.points.label}">Loyalty Points</th>
  <td th:text="${session.loyalty.numberOfPoints.toString()}"></td>
  </table>
  <div th:unless="${session.cardRequest}">
  <form method="post" action="requestCard">
	<input type="hidden" name="userCardId" th:value="${user.sysId}">
		<input type="submit" value="request">

  </form>
  
  </div>
  </div>
  
  
  
  <div th:if="${session.role.equals('admin') && pendingCard}">
  <form action="approveCard" method="post">
  	<input type="hidden" name="userApproveId" th:value="${user.sysId}">
		<input type="submit" value="Approve the Users Card">

  </form>
    <form action="deleteCard" method="post">
  	<input type="hidden" name="userApproveId" th:value="${user.sysId}">
		<input type="submit" value="Reject the Users Card">

  </form>
  
  </div>
 
 
 </div>

<form method="post" action="update">
<input type="hidden" name="sysId" th:value="${user.sysId}">
   <table>
<br>
    <tbody><tr>
     <th th:text="#{form.username.label}">Username</th>
     <td><input type="text" name="username" th:value="${user.username}"></td>
    </tr>
    <tr>
     <th th:text="#{form.password.label}">Password</th>
     <td><input type="password" name="password" th:value="${user.password}"></td>
    </tr>
    <tr>
     <th th:text="#{form.email.label}">Email</th>
     <td><input type="text" name="email" th:value="${user.email}"></td>
    </tr>
    <tr>
     <th th:text="#{form.firstName.label}">First Name</th>
     <td><input type="text" name="firstName" th:value="${user.firstName}"></td>
    </tr>
    <tr>
     <th th:text="#{form.lastName.label}">Last Name</th>
     <td><input type="text" name="lastName" th:value="${user.lastName}"></td>
    </tr>
    <tr>
     <th th:text="#{form.dob.label}">Date of Birsh</th>
     <td><input type="date" name="dateOfBirthString" max="2004-01-01" id="dob" th:value="${user.dateOfBirth}"></td>
    </tr>
    <tr>
     <th th:text="#{form.address.label}">Address</th>
     <td><input type="text" name="address" th:value="${user.address}"></td>
    </tr>
    <tr>
     <th th:text="#{form.phoneNumber.label}">Phone Number</th>
     <td><input type="text" name="phoneNumber" th:value="${user.phoneNumber}"></td>
    </tr>
    <tr>
     <th></th>
     <td><input type="submit" id="submitChoice" th:value="#{submit.button.name}"></td>
    </tr>
   </tbody></table>
  </form>

  <table>
  <div th:unless="${session.wishlist==null}" >
  <div th:unless="${session.wishlist.isEmpty()}" >
  <tr th:each="drug : ${session.wishlist}">  	
  	<td>
		<a type="button" th:href="|/Ubenu/drugs/details?sysId=${drug.getSysId()}|" th:text="${drug.getDrugName()}"></a>
	</td>
	
	<td>
		<form action="removeWish" method="post">
		<input type="hidden" th:value="${drug.getSysId()}" name="drugSysId">
		<input type="hidden" th:value="${user.sysId}" name="sysId">
		
		<input type="submit" value="remove">
		</form>
	</td>	
	  	
  </tr>
  </div>
  </table>
  </div>
  
  <div>
  
  
  </div>

  
  
</body>
</html>