<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

<title>Users</title>
<link rel="stylesheet" type="text/css" href="/Ubenu/css/TableStyles.css"/>	
<link rel="stylesheet" type="text/css" href="/Ubenu/css/HorizontalMenuStyles.css"/>	

</head>
<body>
<ul>
   <li><a href="/Ubenu/companies">Companies</a></li>
   <li><a href="/Ubenu/registration">Registration</a></li>
   <li><a href="/Ubenu/companies/add">Add New Company</a></li>
  
  </ul>
  <table>
   <caption>
   Users
   </caption>
   <thead>
   <tr>
    <th>Username</th>
    <th>E-mail</th>
    <th>Address</th>
    <th>Phone number</th>
   </tr>
  </thead>
  <tbody>
  	<tr th:each="user : ${users}">
  		<td>
  		<a type="button" th:href="|users/details?sysId=${user.getSysId()}|" th:text="${user.getUsername()}"></a>
  		
  		</td>
		<td th:text="${user.getEmail()}"></td> 
  		<td th:text="${user.getAddress()}"></td> 
		<td th:text="${user.getPhoneNumber()}"></td>
		
		<td th:hidden="${user.getRole().toString()=='ADMIN'}">
		<form action="users/block" method="post">
		<input type="hidden" th:value="${user.getSysId()}" name="sysId">
		<input type="submit" th:value="${user.active ? 'Block' : 'Unblock'}">
		</form></td>		
  
  	</tr>
  
  </tbody>
  </table>
</body>
</html>