<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

<title>Companies</title>
<link rel="stylesheet" type="text/css" href="/Ubenu/css/TableStyles.css"/>	
<link rel="stylesheet" type="text/css" href="/Ubenu/css/HorizontalMenuStyles.css"/>	

</head>
<body>
<ul>
   <li><a href="/Ubenu/companies">Companies</a></li>
   <li><a href="/Ubenu/registration">Registration</a></li>
   <li><a href="/Ubenu/companies/add">Add New Company</a></li>
  
  </ul>
<form method="POST" action="">
   <table>
    <caption>
     Login
    </caption>
    <tbody><tr>
     <th th:text="#{form.username.label}">Username</th>
     <td><input type="text" name="username"></td>
    </tr>
    <tr>
     <th  th:text="#{form.password.label}">Password</th>
     <td><input type="text" name="password"></td>
    </tr>
    <tr>
     <th></th>
     <td><input type="submit" th:value="#{submit.button.name}"></td>
    </tr>
   </tbody></table>
  </form>

</body>
</html>