<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

<title>Companies</title>
<link rel="stylesheet" type="text/css" href="/Ubenu/css/TableStyles.css"/>	
<link rel="stylesheet" type="text/css" href="/Ubenu/css/HorizontalMenuStyles.css"/>	

</head>
<body>
<ul>
   <li><a href="/Ubenu/companies">Companies</a></li>
   <li><a href="/Ubenu/users/register">Registration</a></li>
   <li><a href="/Ubenu/companies/add">Add New Company</a></li>
  
  </ul>

<form method="post" action="register">
   <table>
    <caption>
     Welcome
    </caption>
    <tbody><tr>
     <th>Username</th>
     <td><input type="text" name="username"></td>
    </tr>
    <tr>
     <th>Password</th>
     <td><input type="password" name="password"></td>
    </tr>
    <tr>
     <th>Email</th>
     <td><input type="text" name="email"></td>
    </tr>
    <tr>
     <th>First Name</th>
     <td><input type="text" name="firstName"></td>
    </tr>
    <tr>
     <th>Last Name</th>
     <td><input type="text" name="lastName"></td>
    </tr>
    <tr>
     <th>Date of Birsh</th>
     <td><input type="date" name="dateOfBirth" max="2004-01-01" id="dob"></td>
    </tr>
    <tr>
     <th>Address</th>
     <td><input type="text" name="address"></td>
    </tr>
    <tr>
     <th>Phone Number</th>
     <td><input type="text" name="phoneNumber"></td>
    </tr>
    <tr>
     <th></th>
     <td><input type="submit" id="submitChoice"></td>
    </tr>
   </tbody></table>
  </form>
  
  
</body>
</html>