<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

<title>Shopping Cart</title>
<link rel="stylesheet" type="text/css" href="/Ubenu/css/TableStyles.css"/>	
<link rel="stylesheet" type="text/css" href="/Ubenu/css/HorizontalMenuStyles.css"/>	

</head>
<body>
<ul>

   <li th:hidden="${!session.role.equals('admin')}" ><a href="/Ubenu/companies" th:text="#{link.company.label}">Companies</a></li>
   <li th:hidden="${!session.role.equals('admin')}"><a href="/Ubenu/companies/add" th:text="#{link.company.add}">Add Company</a></li>
   <br>
   <li th:hidden="${!session.role.equals('admin')}"><a href="/Ubenu/categories" th:text="#{link.category.label}">Categories</a></li>
   <li th:hidden="${!session.role.equals('admin')}"><a href="/Ubenu/categories/add" th:text="#{link.category.add}">Add Category</a></li>
   <br>
   <li><a href="/Ubenu/drugs" th:text="#{link.drug.label}">Drugs</a></li>
   <li th:hidden="${!session.role.equals('admin')}"><a href="/Ubenu/drugs/add" th:text="#{link.drug.add}">Add Drug</a></li>
   <br>
   <li th:hidden="${!session.role.equals('admin')}"><a href="/Ubenu/users" th:text="#{link.users.label}">Users</a></li>
   <li th:hidden="${!session.role.equals('admin')}"><a href="/Ubenu/loyaltyCards" th:text="#{link.loyalty.label}">Cards</a></li>
   <br>
   <li th:hidden="${!session.role.equals('customer')}"><a href="/Ubenu/shoppingCart" th:text="#{link.cart.label}">Shopping Cart</a></li>
   <br>
   <li><a th:href="@{/users/details?sysId={id}(id=${session.user.sysId})}" th:text="#{link.profile.label}">Profile</a></li>
   <li><a href="/Ubenu/users/login" th:text="#{link.logout.label}">Logout</a></li>
   

</ul>
  <table>
   <thead>
   <tr>
    <th>Name</th>
    <th>Qty</th>
    <th>Price</th>
    <th>Total</th>
   </tr>
  </thead>
  <tbody th:unless="${session.shoppingCart.isEmpty()}">
  	<tr th:each="item : ${session.shoppingCart}">

		<td>
		<a type="button" th:href="|drugs/details?sysId=${item.drug.sysId}|" th:text="${item.drug.drugName}"></a>
		</td>
		<td >
		<p th:text="${item.amount}"></p>
		</td> 
		<td th:text="${item.drug.price}"></td>
		<td th:text="${item.drug.price*item.amount}"></td>
		<td>
		<form action="shoppingCart/removeFromCart" method="post">
		<input type="hidden" th:value="${item.drug.sysId}" name="removalId">
		<input type="submit" value="Remove">
		</form>
		
		<form action="shoppingCart/reduce" method="post" >
		<input type="hidden" th:value="${item.drug.sysId}" name="reduceId">
		<input type="submit" value="-"  th:hidden="${item.amount==1}">
		</form>
		
		<form action="shoppingCart/increase" method="post">
		<input type="hidden" th:value="${item.drug.sysId}" name="increaseId">
		<input type="submit" value="+" th:hidden="${item.drug.inventory==item.amount}">
		</form>
		</td>
		
  	</tr>
  	<tr>
  	<td>Total:</td>
  	<td th:text="${total}"></td>
  	<td>
  	<form action="shoppingCart/checkout" method="post">
  	<input type="hidden" th:value="${total}" name="totalCheckout">
	<input type="submit" value="BUY" th:hidden="${session.shoppingCart.isEmpty()}">
  	</form>
  	</td>
  	</tr>
  
  </tbody>
  </table>
  
  <div>
  <table  th:unless="${session.loyalty==null}">
  <tr>
  <th th:text="#{loyalty.points.label}">Loyalty Points</th>
  <td th:text="${session.loyalty.numberOfPoints.toString()}"></td>
  </tr>
<tr>
	<th>Use:</th>
	<td th:text="${session.pointsUsed}"></td>
	
	<td>
	
	<form action="shoppingCart/increasePoints" method="post">
	<input type="submit" value="+" th:hidden="${session.pointsUsed==10 || session.pointsUsed==session.loyalty.numberOfPoints}">
	</form>

	<form action="shoppingCart/reducePoints" method="post" >
	<input type="submit" value="-"  th:hidden="${session.pointsUsed==0}">
	</form>

  	</td>
</tr>
  
  
  </table>
	

  </form>
  
  </div>
  
  
</body>
</html>