<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

<title>Companies</title>
<link rel="stylesheet" type="text/css" href="/Ubenu/css/TableStyles.css"/>	
<link rel="stylesheet" type="text/css" href="/Ubenu/css/HorizontalMenuStyles.css"/>	

</head>
<body>
<ul>

   <li th:hidden="${!session.role.equals('admin')}" ><a href="/Ubenu/companies" th:text="#{link.company.label}">Companies</a></li>
   <li th:hidden="${!session.role.equals('admin')}"><a href="/Ubenu/companies/add" th:text="#{link.company.add}">Add Company</a></li>
   <br>
   <li th:hidden="${!session.role.equals('admin')}"><a href="/Ubenu/categories" th:text="#{link.category.label}">Categories</a></li>
   <li th:hidden="${!session.role.equals('admin')}"><a href="/Ubenu/categories/add" th:text="#{link.category.add}">Add Category</a></li>
   <br>
   <li><a href="/Ubenu/drugs" th:text="#{link.drug.label}">Drugs</a></li>
   <li th:hidden="${!session.role.equals('admin')}"><a href="/Ubenu/drugs/add" th:text="#{link.drug.add}">Add Drug</a></li>
   <br>
   <li th:hidden="${!session.role.equals('admin')}"><a href="/Ubenu/users" th:text="#{link.users.label}">Users</a></li>
   <li th:hidden="${!session.role.equals('admin')}"><a href="/Ubenu/loyaltyCards" th:text="#{link.loyalty.label}">Cards</a></li>
   <br>
   <li th:hidden="${!session.role.equals('customer')}"><a href="/Ubenu/shoppingCart" th:text="#{link.cart.label}">Shopping Cart</a></li>
   <br>
   <li><a href="/Ubenu/users/login" th:text="#{link.logout.label}">Logout</a></li>
   

</ul>
  <table>
   <caption>
   Companies
   </caption>
   <thead>
   <tr>
    <th>ID</th>
    <th>Company Name</th>
    <th>HQ</th>
   </tr>
  </thead>
  <tbody>
  	<tr th:each="company : ${companies}">
  		<td th:text="${company.getSysId()}"></td>
		<td>
		<a type="button" th:href="|companies/details?sysId=${company.getSysId()}|" th:text="${company.getCompanyName()}"></a>
		</td>
		<td th:text="${company.getCountry()}"></td> 
		<td>
		<form action="companies/delete" method="post">
		<input type="hidden" th:value="${company.getSysId()}" name="sysId">
		<input type="submit" value="Delete">
		</form></td>		
  
  	</tr>
  
  </tbody>
  </table>
</body>
</html>